<div class="subnav">
    <div class="subnav-inner">
        <div class="container">
            <ul class="nav nav-pills">
                
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="<%= random_products_path %>">
          NEW
        </a>
        <%= render_list :class => "dropdown-menu" do |li|
            li << ["Link1", "/"]
        end %>

      </li>


      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="<%=  search_path(:q => "woman") %>">
          女性
        </a>
        <%= render_list :class => "dropdown-menu" do |li|
            li << ["Link1", "/"]
        end %>

      </li>

      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="<%=  search_path(:q => "man") %>">
          男性
        </a>
        <%= render_list :class => "dropdown-menu" do |li|
            li << ["Link1", "/"]
        end %>

      </li>



      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="<%=  search_path(:q => "brand") %>">
          品牌
        </a>
        <%= render_list :class => "dropdown-menu" do |li|
            li << ["Link1", "/"]
        end %>

      </li>



      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="<%=  search_path(:q => "toy") %>">
          玩具
        </a>
        <%= render_list :class => "dropdown-menu" do |li|
            li << ["Link1", "/"]

        end %>

      </li>


                <li> <%= link_to("EVERYONE", welcome_path )%> </li>
            </ul>
        </div>
    </div>
</div>
