<div class="subnav">
    <div class="subnav-inner">
        <div class="container">
            <ul class="nav nav-pills">
                
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="<%= random_products_path %>">
          NEW
        </a>
        <%= render_list :class => "dropdown-menu" do |li|
            li << link_to("COLE HAAN"       , search_path(:q => "COLE HAAN" ) )
            li << link_to("HUSH PUPPIES"    , search_path(:q => "HUSH PUPPIES" ))
            li << link_to("JOIE"            , search_path(:q => "JOIE" ))
            li << link_to("LEGO"            , search_path(:q => "LEGO" ))
            li << link_to("ROXY"            , search_path(:q => "ROXY" ))
            li << link_to("STUART WEITZMAN" , search_path(:q => "STUART WEITZMAN" ))
        end %>

      </li>


      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="<%=  search_path(:q => "woman") %>">
          女性
        </a>
        <%= render_list :class => "dropdown-menu" do |li|
            li << link_to("上衣"            , search_path(:q => "WOMEN SHIRT" ) )
            li << link_to("洋裝"            , search_path(:q => "WOMEN DRESS" ))
            li << link_to("外套"            , search_path(:q => "WOMEN COAT" ))
            li << link_to("裙子"            , search_path(:q => "WOMEN SKIRT" ))
            li << link_to("褲子"            , search_path(:q => "WOMEN PANT" ))
            li << link_to("內衣"            , search_path(:q => "WOMEN BRA" ))
            li << link_to("內褲"            , search_path(:q => "PANTY" ))
            li << link_to("高跟鞋"           , search_path(:q => "women High-heeled shoes" ))
            li << link_to("平底鞋"           , search_path(:q => "women flats" ))
            li << link_to("靴子"             , search_path(:q => "women boots" ))
            li << link_to("手錶"             , search_path(:q => "women watch" ))
        end %>

      </li>

      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="<%=  search_path(:q => "man") %>">
          男性
        </a>
        <%= render_list :class => "dropdown-menu" do |li|
            li << link_to("上衣"            , search_path(:q => "MEN SHIRT" ) )
            li << link_to("西裝"            , search_path(:q => "MENS SUITS" ))
            li << link_to("外套"            , search_path(:q => "MEN COAT" ))
            li << link_to("褲子"            , search_path(:q => "MEN PANT" ))
            li << link_to("內衣"            , search_path(:q => "MEN underwear " ))
            li << link_to("內褲"            , search_path(:q => "BOXER" ))
        end %>

      </li>



      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="<%=  search_path(:q => "brand") %>">
          品牌
        </a>
        <%= render_list :class => "dropdown-menu" do |li|
            li << link_to("ANDREW MARC"      , search_path(:q => "ANDREW MARC" ) )
            li << link_to("ANNE KLEIN"       , search_path(:q => "ANNE KLEIN" ))
            li << link_to("ARMANI"           , search_path(:q => "ARMANI" ))
            li << link_to("BALENCIAGA"       , search_path(:q => "BALENCIAGA" ))
            li << link_to("BCBGENERATION"    , search_path(:q => "BCBGENERATION" ))
            li << link_to("BCBGIRLS"         , search_path(:q => "BCBGIRLS" ))
            li << link_to("BCBGMAXAZRIA"     , search_path(:q => "BCBGMAXAZRIA" ))
            li << link_to("BETSEY JOHNSON"   , search_path(:q => "BETSEY JOHNSON" ))
            li << link_to("BURBERRY"         , search_path(:q => "BURBERRY" ))
            li << link_to("CHLOE"            , search_path(:q => "CHLOE" ))
            li << link_to("CLARKS"           , search_path(:q => "CLARKS" ))
            li << link_to("COACH"            , search_path(:q => "COACH" ))
            li << link_to("COLE HAAN"        , search_path(:q => "COLE HAAN" ))
            li << link_to("D&G DOLCE&GABBANA", search_path(:q => "D&F DOLCE&GABBANA" ))
            li << link_to("DOLCE VITA"       , search_path(:q => "DOLCE VITA" ))
            li << link_to("DR. MARTENS"      , search_path(:q => "DR. MARTENS" ))
            li << link_to("DUNHILL"          , search_path(:q => "DUNHILL" ))
            li << link_to("ED HARDY"         , search_path(:q => "ED HARDY" ))
            li << link_to("ETIENNE AIGNER"   , search_path(:q => "ETIENNE AIGNER" ))
            li << link_to("FENDI"            , search_path(:q => "FENDI" ))
            li << link_to("FOLLI FOLLIE"     , search_path(:q => "FOLLI FOLLIE" ))
            li << link_to("GUCCI"            , search_path(:q => "GUCCI" ))
            li << link_to("GUESS"            , search_path(:q => "GUESS" ))

        end %>

      </li>



      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="<%=  search_path(:q => "toy") %>">
          玩具
        </a>
        <%= render_list :class => "dropdown-menu" do |li|
            li << link_to("海賊王"            , search_path(:q => "ワンピース" ) )
            li << link_to("超級瑪莉"          , search_path(:q => "マリオ" ))
            li << link_to("芭比"            , search_path(:q => "BARBIE" ))
            li << link_to("櫻桃小丸子"            , search_path(:q => "ちびまる子ちゃん" ))
            li << link_to("聖鬥士星矢"            , search_path(:q => "聖闘士" ))
            li << link_to("新世紀福音戰士"            , search_path(:q => "エヴァンゲリオン" ))
            li << link_to("超時空要塞"            , search_path(:q => "マクロス" ))
            li << link_to("哆啦A夢"            , search_path(:q => "ドラえもん" ))
            li << link_to("凱蒂貓"            , search_path(:q => "HELLO KITTY" ))
            li << link_to("火影忍者"            , search_path(:q => "ナルト" ))
            li << link_to("拉拉熊"            , search_path(:q => "リラックマ" ))
            li << link_to("七龍珠"            , search_path(:q => "ドラゴンボール" ))
            li << link_to("史奴比"            , search_path(:q => "SNOOPY" ))
            li << link_to("變形金剛"            , search_path(:q => "TRANSFORMERS" ))
            li << link_to("米老鼠"            , search_path(:q => "MICKEY" ))
            li << link_to("迪士尼"            , search_path(:q => "DISNEY" ))
            li << link_to("漫　威"            , search_path(:q => "MARVEL" ))
            li << link_to("復仇者聯盟"            , search_path(:q => "AVENGERS" ))
            li << link_to("鬼太郎"            , search_path(:q => "鬼太郎" ))
            li << link_to("樂　高"            , search_path(:q => "LEGO" ))
            li << link_to("北斗神拳"            , search_path(:q => "北斗の拳" ))
            li << link_to("初音未來"            , search_path(:q => "初音ミク" ))
            li << link_to("魔法少女小圓"            , search_path(:q => "魔法少女まどか" ))
            li << link_to("名偵探柯南"            , search_path(:q => "名探偵コナン" ))

        end %>

      </li>


                <li> <%= link_to("EVERYONE", welcome_path )%> </li>
            </ul>
        </div>
    </div>
</div>
